<h1>Editing status data</h1>

<%= render "form", status_datum: @status_datum %>

<br>

<div>
  <%= link_to "Show this status data", @status_datum %> |
  <%= link_to "Back to status data", status_data_path %>
</div>
