<%= link_to routes,
 class: 'btn btn-primary',
 data: {
     controller: 'ajax-form',
     turbo_frame: "new_item",
     action: 'turbo:frame-load->ajax-form#append',
     bs_toggle: 'modal',
     bs_target: '#modal' } do %>
  <span><%= btn_title %></span>
<% end %>
