<div class="col" id="<%= dom_id aplikasi %>">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title"><%= aplikasi.nama %></h5>
      <p class="card-text"><% aplikasi.inspect %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= aplikasi.created_at %></small>
    </div>
  </div>
</div>
