<h1>Editing verifikator</h1>

<%= render "form", verifikator: @verifikator %>

<br>

<div>
  <%= link_to "Show this verifikator", @verifikator %> |
  <%= link_to "Back to verifikators", verifikators_path %>
</div>
