<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse min-vh-100">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link' do %>
          <i class="bi bi-house-door me-2"></i>
          Dashboard
        <% end %>
      </li>
    </ul>
    <hr/>
    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
      <i class="bi bi-database-check me-2"></i>
      <span>Master Data</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <%= link_to aplikasis_path, class: 'nav-link' do %>
          <i class="bi bi-layout-wtf me-2"></i>
          Aplikasi
        <% end %>
      </li>
    </ul>
  </div>
</nav>
